.btn {
    @include button;
}

.btn--with-icon {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__login {
    flex-basis: calc( 50% - 1px );
    box-sizing: border-box;
    padding: 0 10px;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    .icon--login {
        margin-right: 6px;
    }
    @include tablet {
        padding: 0 12px;
        border: none;
    }
}
.cta__register {
    padding: 15px 10px;
    @include tablet {
        padding: 13px 10px;
    }

}
