<div class="lot items">
    <div class="lot__details">
        <h3>Lot Details</h3>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize total" />
            <label for="" class="input__label label--labelize">Purchase Price</label>
        </div>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize number--total" />
            <label for="" class="input__label label--labelize">Total Items</label>
        </div>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize total" />
            <label for="" class="input__label label--labelize">Freight Cost</label>
        </div>
    </div>
    <div class="lot__details additional-fees">
        <h3>Additional Fees</h3>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize total" value="90" />
            <label for="" class="input__label label--labelize">Residential Fee</label>
        </div>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize total" value="65" />
            <label for="" class="input__label label--labelize">Lift Gate Fee</label>
        </div>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize total" value="30" />
            <label for="" class="input__label label--labelize">Wire Fee</label>
        </div>
        <h3>eBay Fees</h3>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize rates" value="0.129" />
            <label for="" class="input__label label--labelize">Fee Rates</label>
        </div>
        <div class="input__wrapper input__wrapper--labelize">
            <input type="text" class="input--text input--labelize transactionFee" value="0.30" />
            <label for="" class="input__label label--labelize">Transaction Fee</label>
        </div>
    </div>
    <a href="#" class="action addOne btn">Add Item</a>
</div>
<div class="calculations"></div>
<input type="file" id="fileUpload">
