@mixin button {
    border-radius: 2px;
    display: inline-block;
    padding: 15px 24px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    color: $white;
    outline: 0;
    background: $primary;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    &:hover {
        background: $dark-primary;
        color: $white;
    }
    &--disabled,
    &--disabled:hover {
        background: $gray;
        cursor: default;
    }
    &--positive {
        background: $positive;
        &:hover,
        &:focus {
            background: darken( $positive, 10% );
        }
    }
    &--accent {
        background: $accent;
        &:hover,
        &:focus {
            background: darken( $accent, 10% );
        }
    }
    &--neutral {
        background: $gray;
        &:hover,
        &:focus {
            background: darken( $gray, 10% );
        }
    }
}
