<h2 class="modal__header">Choose Columns to Match</h2>
<div class="styled-p matched-columns"></div>
<div class="columnMatcher-container">
    {{# each Headers }}
        <a href="#" class="styled--link columnMatcher">{{ this }}</a>
    {{/ each }}
</div>
<div class="btn-container">
    <a class="btn btn--accent reset">Reset</a>
</div>
