<h2 class="modal__header">Give this a name</h2>
<div class="input__wrapper input__wrapper--labelize">
    <input type="text" class="input--text input--labelize total page-name" />
    <label for="" class="input__label label--labelize">Page Name</label>
</div>
<div class="btn-container">
    <a class="btn cancelSave">Cancel</a>
    <a class="btn btn--accent saveState">Save</a>
</div>
