.content--deals {
    .input--text {
        border: 1px solid $gray;
        border-bottom: 0;
        padding: 6px 10px;
        font-size: 16px;
    }
    .label--labelize {
        left: 10px;
        bottom: 6px;
        font-size: 16px;
        &.labelize {
            bottom: 84%;
            margin-bottom: 0;
            background: white;
            display: block;
            z-index: 111;
            padding: 0 2px;
            font-size: 11px;
        }
    }
    p {
        margin: 0 0 2px !important;
    }
    .input__wrapper {
        margin: 15px 0;
    }
}

.lot,
.calculations {
    margin: 10px -10px;
    display: flex;
    flex-wrap: wrap;
}
.lot__details,
.calc {
    margin: 0 10px;
}

.lot__details {
    max-width: 140px;
    margin-bottom: 10px;
}

.lot.items {
    float: left;
    overflow: hidden;
    width: calc( 100% - 240px );
    @media screen and ( max-width: 600px ){
        float: none;
        width: 100%;
    }
}
.calculations {
    float: right;
    width: 240px;
    @media screen and ( max-width: 600px ){
        float: none;
        width: 100%;
        .calc {
            &:first-child {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;
                box-sizing: border-box;
                background: $white;
                z-index: 200;
                p {
                    display: inline-flex;
                    width: calc( 45% - 10px );
                    margin: 0 10px !important;
                }
            }
        }

    }
}
.addOne {
    height: 100%;
}

.calc {
    padding: 10px;
    min-width: 200px;
    &:first-child {
        box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5 );
    }
    p {
        display: flex;
    }
    .value {
        margin-left: auto;
    }
}

// Column Matcher
.columnMatcher-container {
    margin: 20px 0;
}
.columnMatcher {
    &::after {
        content: '';
        display: block;
        margin-bottom: 2px;
    }
}

.matched-columns {
    margin-top: 20px;
    .empty {
        margin: 20px 0;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 2px transparentize($black, 0.8);
        .column-matcher-text {
            display: none;
        }
    }
}

.modal--csvkeys {
    .btn-container {
        display: flex;
        justify-content: space-between;
    }
}


.input-error {
    background: transparentize( $negative, 0.7 );
}
.notice {
    background: transparentize( $positive, 0.7 );
}

.reset-container {
    display: flex;
    .btn {
        margin-left: auto;
    }
    @media screen and ( max-width: 600px ){
        padding-top: 100px;
    }
}


// #header,#footer {display: none;}
