$black         : #000000;
$white         : #ffffff;
$off-white     : #F6FAFD;
$light-gray    : #F4F5F7;
$another-gray  : #EAECF0;
$gray          : #D6D8DD;
$dark-gray     : #696969;

$accent        : #F15726;
$primary       : #4BB5C4;
$light-primary : #7CC1CA;
$dark-primary  : #6BAFB9;

$positive      : #3FC380;
$negative      : #F18467;
$caution       : #f9d372;

$pressBkg      : #E4ECF0;
